<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <link href="{{ url_for('static', filename='assets/Design2/style2.css') }}" rel="stylesheet" />
  <link rel="icon" href="static/design_images/back2.jpg">
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo">{{ uname }} {{ ulname }}</div>
      <nav>
        <a href="#" class="nav-link" onclick="showContent('about', this)">About</a>
        <a href="#" class="nav-link" onclick="showContent('skills', this)">Skills</a>
        <a href="#" class="nav-link" onclick="showContent('education', this)">Education</a>
        <a href="#" class="nav-link" onclick="showContent('contact', this)">Contact</a>
      </nav>
    </div>
  </header>

  <main id="home">
    <div class="main-content">
      <div class="profile-pic">
        <img src="static/images/{{ image }}" alt="profile photo" />
    </div>

    <div class="intro-section">
      <div class="intro-text">
        <h1 class="typewriter-text"><strong>My name is</strong> {{ uname }} <strong>{{ ulname }}</strong></h1>
          <p class="job-title">{{ job }}</p>
    </div>

        <!-- NAV BUTTON CONTENT SHOWN HERE -->
    <div class="dynamic-content">
      <div id="about" class="content-box active fade-in">
        <h2>About Me:</h2>
            <p>{{ ufname }}</p>
      </div>

      <div id="skills" class="content-box fade-in">
        <h2>Skills</h2>
          <p>{{ uename }}</p>
      </div>

      <div id="education" class="content-box fade-in">
        <h2>Education</h2>
          <p>School: {{ ukname }}</p>
          <p>College: {{ ubname }}</p>
      </div>

      <div id="contact" class="content-box fade-in">
        <h2>Contact Me</h2>
          <p>Email: {{ udname }}</p>
          <p>Phone: {{ ucname }}</p>
      </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <div class="social-icons">
      <a href="https://linkedin.com" target="_blank">
        <img src="https://img.icons8.com/ios-filled/30/ffffff/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com" target="_blank">
        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/github.png" alt="GitHub" />
      </a>
    </div>
  </footer>

  <!-- External JS -->
  <script src="{{ url_for('static', filename='assets/Design2/script2.js') }}"></script>
</body>
</html>
